* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

header {
  padding: 0.75rem 0;
  background: linear-gradient(to left, teal, blue);
}

.h1-text {
  color: white;
  text-align: center;
}

