/* Header */
header {
    background-color: #000120
}
div.title {
    
    color: white;
    text-align: center;
}
div.title h1 {
    padding: 10px;
}

/* Main content */
main.dashboard {
    background-color: rgb(247, 247, 247);
}

/* Left Sidebar */
div.recent-searches h2 {
    font-size: 1.2rem;
}

div.city-list {
    margin-top: 20px;
}

div.city {
    padding: 10px;
}

div.city-name {
    background-color: white;
    color: black;   
}
/* Weather Data */

div.current-weather {
    margin-bottom: 20px;
    background-color: white;
}

div.current-weather h2,
div.current-weather h3 {
    font-size: 1.3rem;
    margin: 10px;
}

div.five-day h2 {
    font-size: 1.2rem;
}

div.five-day p {
    font-size: .8rem;
}

div.five-day p.card-title {
    font-weight: bold;
    color: white;
}

.card {
    background-color: #0276fd;
}

.text-muted {
    color: white !important;
}